In [13]:
Q1= "Welcome to EU!"
Q2=Q1[11:]
Q3=Q1[5:11]
Q4=["Eric Comacho","Elmer Felicitas","Shankar Lucrece","Gitta Nevena","Rasmus Tarquinius"]
Q5=[7,'7','Seven',7.0]
Q6=Q4[3:]
Q7=Q5[1:3]

In [14]:
mylist= [4,8,11,3,19,2,5,8,12,9]
Q8= mylist[:3]
Q9= mylist[7:]
Q10= mylist[2:6]
Q11= mylist[5:7]